{% extends 'products/base.html' %}

{% block content %}

  <div class="container my-5">
  	
    <div class="row">
    <div class="col-md-9">
		<div class="row">
			{% if object_list %}
			{% for product in object_list  %}
		  <div class="col-md-6 col-sm-12 col-lg-4">
			<figure class="card card-product">
				<div class="img-wrap"> 
					<img src="{{ product.mainimage.url }}" style="width: 100%; height: 300px;">
				</div>
				<figcaption class="info-wrap">
					<h6 class="title text-dots"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h6>
					
					<div class="action-wrap">
						<h6 class="title text-dots">{{ product.preview_text }}</h6>
						<a href="cart/{{ product.slug }}" class="btn btn-primary btn-sm"> Добавить в корзину </a>
             			<a href="remove/{{ product.slug }}" class="btn btn-danger btn-sm"> Убрать из корзины</a>
 						<!-- price-wrap.// -->
						 <div class="price-wrap h5">
							<span class="price-new">{{product.price}} руб</span>
						</div> 
					</div> <!-- action-wrap -->
				</figcaption>
			</figure> <!-- card // -->
		</div> <!-- col // -->
      	{% endfor %}
	  	{% else %}
  			<p>В магазине пока нет товаров!</p>
		{%endif %}
		</div>
	</div>
  </div>
  </div>
{% endblock %}