
{% extends 'products/base.html' %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container my-5">
<h1>{% trans "Sign Out" %}</h1>


<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}

  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-lg btn-outline-primary text-uppercase" type="submit">{% trans 'Sign Out' %}</button>
</form>

</div>
{% endblock %}